.gardening-nav li a:hover,.landscape-company h2,.garden-company-core-features p:before,.view-all-feature:hover,
.view-all-feature:hover:before,.garden-feature h2,.garden-title h2,.garden-why-choose-main:hover h3,
.client-name h2,#gar-testi .slick-prev:hover,#gar-testi .slick-prev:focus,#gar-testi .slick-next:hover,#gar-testi .slick-next:focus,.garden-client-content p:before ,.blog-author-info a:hover,.garden-blog-details h2 a:hover,.main-hover-link a .fa,
.gar-footer-title h2,.gar-latest-news-widget ul li p,.gar-widget ul li a:hover,
.gar-info-widget p:before,#banner-slider3 .slick-prev .fa:hover,#banner-slider3 .slick-next .fa:hover,.gar-breadcum ul li a:hover,
.aboutuspage-qourte h3,.garden-client-name h2,.garden-blog2col-author-info ul li a:hover,.blog-author-info ul li:before,.con-reading,.con-reading:hover,.gar-pop-news-widget li a:hover,.gar-pop-news-widget p .fa,
.gar-comments-inner a:hover,.garden-one-service-details-title h3,.garden-gallery-tabs .active a,.garden-gallery-tabs li a:hover{
	color:#71ba09;
}
.garden-why-choose-main:hover .garden-why-choose-icon,.garden-why-choose-main:hover .garden-why-choose-right-icon,.garden-team-member:hover .team-bottom-contnt,
.blog-date,.banner-style4-content a:hover,.garden-plane-name-line,.garden-btn,.next-page,.pre-page,.garden-pagination ul li:hover,.gar-cat-widget ul li:hover a,
.garden-tags a:hover,.blog-details-inner-comments .fa,.gard-comment-form-detail form .submit,.gardneer-personalinformation-contact-form .submit,.garden-gallery-tabs .active a:after {
	background:#71ba09;
}
.garden-title-line,.gardneer-personalinformation .info-icon{
	border-color:#71ba09;
}
.garden-title-line svg path {fill: #71ba09 !important;}
.garden-why-choose-main:hover,.main-hover-link a .fa,.banner-style4-content a:hover{
	border-color:#71ba09;
}
.garden-form input:focus,.garden-form textarea:focus{
border-color:#71ba09;
}	
.cons-counteer-image2 svg path {fill: #71ba09 !important;}
.gardneer-personalinformation .info-icon svg path{fill: #71ba09 !important;}

.garden-team-social a .fa:hover{
	
	border-radius:100%;
}
.blog-over-lay{
	background:rgba(113,186,9,0);
}
.blog-main-container:hover .blog-over-lay{
	background:rgba(113,186,9,.7);
}

.garden-gallery-image:hover .gallery-color-overlay{
	background:rgba(113,186,9,.7);
}
.menu ul.sub-menu li a:hover,
.lp-user-menu li a:hover,.gar-comment-reply:hover,#accordian ul .active h3,
.garden-det-quote a:hover,.callout-content a:hover,.garden-form  .submit:hover,.about-read-more:hover,.backhome:hover,.garden-select-plane:hover{
	background:#71ba09;
	border-color:#71ba09;
}
#triangle-topleft,#triangle-topleft2,#triangle-topleft3 {
	
	border-top: 69px solid #71ba09;
	
}
.pricing-table-content .hexagon {
	background-color:#71ba09;
}
.next-page,.pre-page,.garden-pagination ul li:hover,.gar-cat-widget ul li:hover{
	border-color: #71ba09!important;
}
.garden-copy-right .cleeaning-footer-nav li a:hover{
	color:#71ba09!important;
	
}
.gardening-submenu li a:hover,.gardening-submenu li a:hover{
	background:#71ba09 !important;
}