.plumbing-top-bar,#plumbing-navbar .navbar,.plumbing-title .view,.service-tabs .active a,.main-hover-link2 a .fa,
.plum-new-date2{
	background:#2b90b1;
}
.plum-top-address ul .add:before,.plum-top-address ul .mapi:before,.plumb-history-content h3,.ser-features h3:after,.plumbcallout-content h2 span,.plum-news-content h2 a:hover,.pluming-page-title ul li a:hover,.plumb-about-page-counter-outer .counter h1,.plumb-about-page-counter-outer .counter span,.plumbing-abot-page-skills-content h2,.plumbing-abot-page-skills-content h3,.plumb-contact-counter-outer h3,.plumb-contact-counter-outer h1,.plumb-contact-counter-outer .fa,.plumb-contactus-infor-content ul li:after,.plumb-address-info1:after,.plumb-address-info2:after,.plumb-address-info3:after ,.plumb-address-info4:after,
.plumbing-pagination .garden-pagination ul li:hover,.plumb-col2-comments-container ul li a:hover,.plumbing-project-detail-feature h3,.plumbing-project-detail-feature ul li:after,#plumbing-all-services .view-all-feature:hover,#plumbing-all-services .view-all-feature:hover:before,.plumb-col2-outer h2 a:hover,.plumbing-project-detail-form form .submit,.plumbing-abot-page-skills-content a,.plumb-404-content a,.plumb-contactus-infor-content a,.plum-contact-form form .submit{
	color:#2b90b1;
}
#banner-slider4 .slick-prev .fa:hover, #banner-slider4 .slick-next .fa:hover,.plumb-team-member-name,.plumbing-title .view2:hover,.pluming-page-title-line{
	background:#2b90b1 !important;
}
.plumb-ser .slick-prev .fa:hover,.plumb-ser .slick-next .fa:hover,#plumbing-service-detail #accordian ul .active h3,#plumbing-service-detail #service-sidebar .garden-sidebar-widget ul li a:hover{
	background:#2b90b1;
}
.plumbing-title svg path {fill:#2b90b1 !important;}
.service-tabs .active,.plumbcallout-content a:hover,.plumb-reviews,.plumbing-title .view2,.plumb-news-inner,.plumb-contact-counter-outer .fa,.plumb-address-info1:after,.plumb-address-info2:after,.plumb-address-info3:after ,.plumb-address-info4:after,#plumbing-service-detail #accordian ul .active h3,.plumbing-project-detail-form form .submit,.plumbing-abot-page-skills-content a,.plumb-404-content a,.plumb-contactus-infor-content a,.plum-contact-form form .submit{
	border-color:#2b90b1;
}
#owl-testimonial2 .owl-nav .owl-prev:hover,#owl-testimonial2 .owl-nav .owl-next:hover,.plumbcallout-content a:hover{
background:#2b90b1;

}
#owl-testimonial3 .owl-nav .owl-prev:hover,#owl-testimonial3 .owl-nav .owl-next:hover,.plumb-qourt,.plum-new-date,.plumb-popup form .submit,.plumb-pricing-page .price-button:hover{
background:#2b90b1;

}
#plumb-copy{
	background:#2b90b1 !important;	
}
.plumb-pricing-page .cleaning-pricing-plan-style2-inner:hover:before{
    border-top: 119px solid #2b90b1;
    border-left: 263px solid #2b90b1;
}
.cleaning-service1 h3{
	color:#ffa744;
}
.cleaning-service1{
	border-color:#ffa744;
}
#plumbing-blog-sidebar .construction-sidebar-widget-title-line{
	background:#2b90b1;
}
#plumbing-blog-sidebar .construction-recent-news-widget h3 a:hover,#plumbing-blog-sidebar .construction-sidebar-widget ul li a:hover,#plumbing-blog-sidebar .construction-sidebar-widget ul li:before{
	color:#2b90b1;
}
#plumbing-blog-detail-page .gard-comment-form-detail form .submit{
	background:#2b90b1;
}
#plumbing-blog-detail-page  #construction-pagination .next-page,#plumbing-blog-detail-page  #construction-pagination .pre-page,.plumbing-abot-page-skills-content a:hover{
	background:#2b90b1;
}
#plumbing-blog-detail-page #con-uder-comment-detail .gar-comment-reply:hover,.banner-style4-content a:hover,.plumbing-project-detail-form form .submit:hover,.plumb-404-content a:hover,.plumb-contactus-infor-content a:hover,.plum-contact-form form .submit:hover{
	background:#2b90b1;
	border-color:#2b90b1;
}
.plumbing-pagination #cleaning-pagination .next-page,.plumbing-pagination #cleaning-pagination .pre-page,.plumbing-pagination #cleaning-pagination ul li:hover:after,#plumbing-project-sidebar .sidebar-widget-title{
	background:#2b90b1;	
}